<div class='container'>
  <div class='row'>
    <div class='col'>
      If you want read article.
      <br>
      Just
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <a href='/buy/article/{{  article.id  }}' class='link'>Buy in</a>
    </div>
  </div>
</div>
